In [2]:
# import data
import pandas as pd
import numpy as np
import glob
import os
import shutil
import datetime as dt

In [3]:
path = r"C:\Users\Josh Busser\UofA Summer Bootcamp\Machine Learning\nflscrapR-data-master\games_data\regular_season" # use your path pbp-2019.csv

all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)



PA_add_df = frame

In [21]:
Data = PA_add_df.filter(['type','game_id','home_team','away_team','week','season','home_score','away_score'])

Tes_Data = PA_add_df.filter(['type','game_id','season'])
Tes_Data

Tes_Data.to_csv('Tes_merge.csv')

In [5]:
Home_team = PA_add_df.filter(['type','game_id','home_team','week','season','home_score'])
Away_team = PA_add_df.filter(['type','game_id','away_team','week','season','away_score'])
Score = PA_add_df.filter(['type','game_id','season','home_score','away_score'])

In [6]:
Data['score_difference'] = Score['home_score'] - Score['away_score']

In [7]:
Data['hometeam_result'] = np.where(Data['score_difference'] > 0, '1', '0')
Data['awayteam_result'] = np.where(Data['score_difference'] < 0, '1', '0')

In [8]:
Data['Winner'] = np.where(Data['hometeam_result'] == '1', 'H', 'A')

In [9]:

Home_team = Data.filter(['type','game_id','home_team','week','season','home_score','hometeam_result'])
Away_team = Data.filter(['type','game_id','away_team','week','season','away_score','hometeam_result'])

In [10]:
home = Home_team.sort_values(by=['home_team','season'])
away = Away_team.sort_values(by=['away_team','season'])

In [11]:
Machine = Data.filter(['game_id','Winner','home_score','away_score','score_difference'])

Machine

         game_id Winner  home_score  away_score  score_difference
0     2009091000      H          13          10                 3
1     2009091304      A          20          34               -14
2     2009091307      H          45          27                18
3     2009091308      A          21          34               -13
4     2009091305      A           7          24               -17
5     2009091306      H          14          12                 2
6     2009091303      A           7          12                -5
7     2009091302      A          10          38               -28
8     2009091301      H          38          24                14
9     2009091300      H          19           7                12
10    2009091309      A          16          20                -4
11    2009091311      H          28           0                28
12    2009091310      H          23          17                 6
13    2009091312      H          21          15                 6
14    2009091400      H          25          24                 1
15    2009091401      A          20          24                -4
16    2009092000      H          28          20                 8
17    2009092001      A          13          27               -14
18    2009092008      H           9           7                 2
19    2009092007      A          31          34                -3
20    2009092006      A          22          48               -26
21    2009092005      H          16           9                 7
22    2009092004      A          10          13                -3
23    2009092003      A          17          31               -14
24    2009092002      A          24          31                -7
25    2009092010      H          23          10                13
26    2009092009      H          33          20                13
27    2009092013      A          26          31                -5
28    2009092012      H          27           6                21
29    2009092011      H          17          14                 3
...          ...    ...         ...         ...               ...
2651  2019101400      H          23          22                 1
2652  2019101700      A           6          30               -24
2653  2019102001      H          31          21                10
2654  2019102002      A          17          27               -10
2655  2019102003      A          30          42               -12
2656  2019102004      H          42          24                18
2657  2019102000      A          10          37               -27
2658  2019102005      H          30          23                 7
2659  2019102007      A           0           9                -9
2660  2019102006      A          21          27                -6
2661  2019102008      H          23          20                 3
2662  2019102009      A          25          36               -11
2663  2019102010      A          16          30               -14
2664  2019102011      H          37          10                27
2665  2019102100      A           0          33               -33
2666  2019102400      H          19           9                10
2667  2019102700      A          20          27                -7
2668  2019102710      H          15          13                 2
2669  2019102708      H          27          23                 4
2670  2019102707      H          31           9                22
2671  2019102706      H          24          10                14
2672  2019102701      A          13          31               -18
2673  2019102702      A          16          17                -1
2674  2019102703      H          31          26                 5
2675  2019102705      H          29          15                14
2676  2019102709      H          51          13                38
2677  2019102704      H          27          24                 3
2678  2019102711      H          27          13                14
2679  2019102712      A          24          31                -7
2680  2019102800      H          27          14                13

[2681 rows x 5 columns]

In [12]:
path = r"C:\Users\Josh Busser\UofA Summer Bootcamp\Machine Learning\nflscrapR-data-master\play_by_play_data\regular_season" # use your path pbp-2019.csv

all_files = glob.glob(path + "/*.csv")

li2 = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li2.append(df)

frame = pd.concat(li2, axis=0, ignore_index=True)



PA_add_df2 = frame

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (42,166,167,174,175,178,179,182,183,188,189,190,191,203,204,205,231,232,233,238,240,241) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (37,38,39,42,46,47,166,167,168,169,172,173,174,175,176,177,178,179,182,183,184,185,188,189,190,191,192,193,194,195,198,199,203,204,205,224,225,226,227,231,232,233,238,240,241,244,245,246,250) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (166,167,168,169,174,175,178,179,182,183,188,189,190,191,198,199,200,201,202,203,204,205,207,209,211,226,227,231,232,233,238,240,241) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (166,167,168,169,178,179,182,183,188,189,190,191,194,195,198,199,203,204,205,226,227,231,232,233,238,240,241) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,203,204,205,231,232,233,238,240,241) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (42,166,167,174,175,178,179,182,183,188,189,203,204,205,231,232,233,238,240,241) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (167,168,169,170,175,176,179,180,183,184,189,190,191,192,195,196,199,200,204,205,206,227,228,232,233,234,239,241,242) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (42,167,168,169,170,175,176,179,180,183,184,189,190,191,192,199,200,204,205,206,227,228,232,233,234,239,241,242,250) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (42,167,168,169,170,179,180,183,184,189,190,191,192,199,200,201,202,203,204,205,206,208,210,212,227,228,229,230,231,232,233,234,235,237,238,239,241,242,250) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (167,168,191,192,219,220,221,222,223,224,227,228,240) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # This is added back by InteractiveShellApp.init_path()

In [14]:
PA_add_df2

pbp_df = pd.DataFrame(PA_add_df2)

# Print dataframe
pbp_df.head()

,air_epa,air_wpa,air_yards,assist_tackle,assist_tackle_1_player_id,assist_tackle_1_player_name,assist_tackle_1_team,assist_tackle_2_player_id,assist_tackle_2_player_name,assist_tackle_2_team,...,wp,wpa,yac_epa,yac_wpa,yardline_100,yards_after_catch,yards_gained,ydsnet,ydstogo,yrdln
0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30.0,NaN,0.0,0,0,TEN 30
1,-0.938735,-0.028383,-3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.546433,0.004655,1.016643,0.033038,58.0,8.0,5.0,5,10,PIT 42
2,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.551088,-0.040295,NaN,NaN,53.0,NaN,-3.0,2,5,PIT 47
3,3.412572,0.109925,34.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.510793,-0.049576,-5.125156,-0.159501,56.0,NaN,0.0,2,8,PIT 44
4,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.461217,0.097712,NaN,NaN,56.0,NaN,0.0,2,8,PIT 44

In [20]:
# Only use necessary columns
pbp_df = pbp_df.reindex(columns=["game_id", "home_team", "away_team", "play_type", "yards_gained", "shotgun", "no_huddle", "home_timeouts_remaining", "away_timeouts_remaining", "total_home_score", "total_away_score", "punt_blocked","first_down_rush", "first_down_pass", "first_down_penalty", "third_down_converted", "third_down_failed", "fourth_down_converted", "fourth_down_failed", "incomplete_pass", "touchback", "interception", "fumble_forced", "fumble_not_forced", "fumble_out_of_bounds", "solo_tackle", "safety", "penalty", "qb_hit", "rush_attempt", "pass_attempt", "sack", "touchdown", "pass_touchdown", "rush_touchdown", "return_touchdown", "extra_point_attempt", "two_point_attempt", "field_goal_attempt", "kickoff_attempt", "punt_attempt", "fumble", "complete_pass", "assist_tackle"])

# Print dataframe
pbp_df.head()

,game_id,home_team,away_team,play_type,yards_gained,shotgun,no_huddle,home_timeouts_remaining,away_timeouts_remaining,total_home_score,...,rush_touchdown,return_touchdown,extra_point_attempt,two_point_attempt,field_goal_attempt,kickoff_attempt,punt_attempt,fumble,complete_pass,assist_tackle
0,2009091000,PIT,TEN,kickoff,0.0,0,0,3,3,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,2009091000,PIT,TEN,pass,5.0,0,0,3,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2009091000,PIT,TEN,run,-3.0,0,0,3,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2009091000,PIT,TEN,pass,0.0,1,0,3,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2009091000,PIT,TEN,punt,0.0,0,0,3,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0